<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="Home.aspx" />
    </files>
  </defaultDocument>
</system.webServer>

  <connectionStrings>
    <!--<add name="10KConnString" connectionString="Data Source=DESKTOP-H2497G6\SQLEXPRESS;Initial Catalog=10K;Integrated Security=True"
      providerName="MySql.Data.MySqlClient" />-->
    
    <add name="10KConnectionString" connectionString="Data Source=DESKTOP-H2497G6\SQLEXPRESS;Initial Catalog=10K;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


<!--connectionString="server=DESKTOP-H2497G6\SQLEXPRESS; User=null; Password=null;Database=10K;"-->